.section {
  height: 100%;
  max-height: 95vh;
  width: 100%;
  width: 70vw;
  margin-right: 10vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4em;
  overflow-y: scroll;
  /* position: relative; */
}

@media (max-width: 987px) {
  .section {
    padding: 5em 0;
    margin-right: 0vw;
    gap: 5vh;
    width: 90vw;
    margin-top: 5vh;
  }
}
