* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: inherit;
  width: inherit;
  background-color: rgb(22, 3, 35);
  /* background: linear-gradient(rgb(22, 3, 35), rgba(22, 3, 35, 0.83)); */
  background: linear-gradient(rgb(22, 6, 35), rgba(6, 0, 9, 0.884));
  background: linear-gradient(rgb(6, 5, 6), rgba(4, 1, 5, 0.884));
}
/*  */

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}

@media (max-width: 987px) {
  html {
    font-size: 53.5%;
  }
}
