.section {
  height: 95vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderWrapper {
  width: 8em;
  height: 8em;
}

.loader {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #fff;
  border-top-color: rgb(212, 38, 96);
  border-bottom-color: rgb(212, 38, 96);
  border-radius: 50%;
  animation: rotate0925 5s linear infinite;
}

.loaderInner {
  border-top-color: #36f372;
  border-bottom-color: #fff;
  border-top-color: rgba(212, 38, 96, 0.757);
  border-bottom-color: rgba(212, 38, 96, 0.718);
  animation-duration: 2.5s;
}

@keyframes rotate0925 {
  0% {
    transform: scale(1) rotate(360deg);
  }

  50% {
    transform: scale(0.8) rotate(-360deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}
